<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Angular JS</title>
</head>
<body ng-controller="mainCtrl">

	<h1>Angular JS</h1>


	<p>{{ a }} = {{ b }} = {{ a+b }}</p>


	<input type="number" ng-model="a"> +<!-- this can be * or + ETC -->
	<input type="number" ng-model="b">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>
	function mainCtrl($scope){
		$scope.a =1;
		$scope.b =2;

	}
</script>
<!-- $scope is a varible -->
<!-- scope is the glue betweeen JS and html -->
</body>
</html>